.test-header{
    width: 30%;

    text-align: center;
    margin: 30px auto;
}


.multi-carousel{
    width: 80%;
    margin: 0px auto;
}

.card{
    margin-right: 50px;
    width: 90%;
    height: auto;
}
.card-top{
    padding: 15px;
    background-color:#1C242F ;
}

.card-top .desc{
    padding: 15px 0px;
    color: #b3b3b3;
}
.card-bottom{
    padding: 15px;
 column-gap: 2rem;
}

.card-bottom img{
    border-radius: 50%;
}

.card-bottom  .name{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

.card-bottom  .role{
    color: #888;
    font-size: 14px;
}

@media(max-width:1124px){
    .test-header{
        width: 60%;
        text-align: center;
        margin: 30px auto;
    }
    
    .multi-carousel{
        width: 90%;
        margin: 0px auto;
    }
    
    .card{
        margin-right: 50px;
        width: 90%;
        height: auto;
    }
}

@media(max-width:768px){
  
    
    .card{
        margin-right: 50px;
        width: 100%;
        height: auto;
    }
}